[user]
	name = pokotsun
	email = gorigolila@gmail.com

[core]
      editor = vim -c \"set fenc=utf-8\"
[alias]
    graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    st = status
    co = checkout
    cm = commit
    br = branch
    misogi = commit --amend --no-edit
    resethard = reset --hard head
    push-force = push -f origin head
    delete-merged-branch = "!f() { git checkout $1; git branch --merged|grep -V '*|develop|main'|xargs git branch -d; };f"

[url "https://github.com/rust-lang/crates.io-index"]
	InsteadOf = https://github.com/rust-lang/crates.io-index

# [url "github:"]
#     InsteadOf = https://github.com
#     InsteadOf = git@github.com
[fetch]
	prune = true
[rebase]
	autosquash = true

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
    line-numbers = true
    side-by-side = true

[interactive]
    diffFilter = delta --color-only
