[user]
	name = pokotsun
	email = gorigolila@gmail.com

[core]
      editor = vim -c \"set fenc=utf-8\"
[alias]
    graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    st = status
    co = checkout
    cm = commit
    br = branch

[url "github:"]
    InsteadOf = https://github.com
    InsteadOf = git@github.com
