[user]
      email = nakagawa@triart.co.jp
            name = nakagawa
[core]
      editor = vim -c \"set fenc=utf-8\"
[alias]
    graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

